fastapi==0.95.2
uvicorn==0.22.0
fpdf==1.7.2
pillow==9.5.0
pdf2image==1.16.3
pdf2docx==0.5.6
python-multipart==0.0.6
PyMuPDF==1.22.3
pandas==2.0.3
openpyxl==3.1.2
python-docx==1.1.0
pyexcel==0.7.0
pyexcel-xlsx==0.6.0
html2text==2020.1.16
